@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yellow: 60 100% 50%;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
  }

  body {
    overflow-x: hidden;
  }
  .icon-container {
    @apply grid cursor-pointer place-items-center rounded-full bg-zinc-600 hover:bg-zinc-500 [&>*]:m-2 [&>*]:text-3xl;
  }
  .link {
    @apply text-blue-700 underline decoration-blue-700;
  }
}
